.header_template{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%  !important;
  background-color: rgba(255, 0, 0, 0) !important;
  font-family: ambroise-std !important;
  padding: 2px 20px;
  letter-spacing: 2px;  
  z-index:1000;

}


.header_template md-icon:focus{
	outline: 0;
}